[Unit]
Description=PostgreSQL (Supabase)
After=network.target

[Service]
Type=simple
User=postgres
Group=postgres
ExecStart=/usr/local/bin/with-supabase-config /usr/lib/postgresql/bin/postgres -D /etc/postgresql
Restart=on-failure
LimitNOFILE=4096
Environment=PGDATA=/var/lib/postgresql/data
Environment=POSTGRES_HOST=/var/run/postgresql
Environment=PGPORT=5432
Environment=PGDATABASE=postgres
Environment=POSTGRES_DB=postgres
Environment=JWT_EXP=3600
Environment=LANG=en_US.UTF-8
Environment=LANGUAGE=en_US:en
Environment=LC_ALL=en_US.UTF-8
Environment=LOCALE_ARCHIVE=/usr/lib/locale/locale-archive
Environment=POSTGRES_HOST=/var/run/postgresql
Environment=POSTGRES_USER=supabase_admin
Environment=POSTGRES_DB=postgres

[Install]
WantedBy=multi-user.target