[Unit]
Description=Custom PostgreSQL Service
After=network.target

[Service]
Type=simple
User=postgres
Group=postgres
ExecStart=/usr/local/bin/with-supabase-config /usr/lib/postgresql/15/bin/postgres -D /etc/postgresql
Restart=on-failure
LimitNOFILE=4096
Environment=PGDATA=/var/lib/postgresql/data
Environment=POSTGRES_HOST=/var/run/postgresql
Environment=PGPORT=5432
Environment=PGDATABASE=postgres
Environment=POSTGRES_DB=postgres
Environment=JWT_EXP=3600

[Install]
WantedBy=multi-user.target